html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body{
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0px;
  background: #29292b;
  color: #fff;
}

/* To check alignment*/
div {
    border: 0px solid red; 
}
div > div {
    border: 0px solid blue;
}
/* To check alignment*/

a:hover{
  opacity: 0.5;
}

/* width */
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(31,37,31,1) 100%);
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#top-screen{
  text-align: center;
}

#name{
  font-family: "Caveat Brush",sans-serif;
  font-weight: bold;
  font-size: 30px;
  padding: 5px;
  background: #29292b;
  color: #fff;
}

#main-cont{
  padding: 4px;
}
#nav-links{
  padding: 15px;
  text-align: center;
  text-decoration: none;
  background: #29292b;
}
#nav-links >a{
  background: #000;
  padding: 8px;
  margin: 2px;
  border-radius: 18px;
  text-decoration: none;
  color: #36e0e0;
}
.main-sec{
  padding: 0px;
  margin: 0;
  height: 100vh;
  background: url(https://i.ibb.co/jvcmxPb/ezgif-com-gif-maker.gif);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  /* background: #5036e0; 
  background: #536976;   fallback for old browsers 
background: -webkit-linear-gradient(to right, #292E49, #536976);   Chrome 10-25, Safari 5.1-6 
background: linear-gradient(to right, #292E49, #536976);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

position: relative;
  color: #fff;
}
#main-cont{
  text-align: center;
  margin-top: 5%;
}
#stats-me{
  margin: 0 auto;
  text-align: left;
}
#nav-links-btm{
  padding: 15px;
  text-align: center;
  text-decoration: none;
  background: #29292b;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
#nav-links-btm >a{
  background: #000;
  padding: 8px;
  margin: 2px;
  border-radius: 18px;
  text-decoration: none;
  color: #ff1f4f;
}
#hackerrank{
  text-decoration: none;
  color:#42f542;
}
#codechef{
  text-decoration: none;
  color: #f5a442;
}
#github{
  text-decoration: none;
  color: #36c3ff;
}
#skills{
  height: 400px;
  background: url(https://sm.mashable.com/mashable_in/photo/default/nasa-galaxy_9pu4.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}
#skills{
  text-align: center;
}
#skills h2{
  background: rgb(253,29,29);
  background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
  width: 200px;
  margin: 0 auto;
  border-radius: 22px;
}
#skills > div{
  width: 300px;
  margin: 0 auto;
}
#skills > div >div{
  display: inline-block;
  color: #fff;
  margin: 4px;
  padding: 4px 8px 4px 8px;
  border-radius: 40px;
  color: #fff;
  background: rgb(253,29,29);
  background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
}
#skills > div >div:hover{
  transform: scale(1.1);
}
#projects{
  padding: 10px;
  background: #29292b;
  display: flex;
  flex-wrap: nowrap ;
}
.card{
  width: 100%;
  margin: 5px;
  text-align: center;
  padding: 10px;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px 14px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 14px 0px rgba(0,0,0,0.75);
box-shadow: 1px 1px 14px 0px rgba(0,0,0,0.75);
}
.card h2{
  color: #5c8dff;
  border-bottom: 4px solid #5c8dff;
  max-width: 100px;
}
.card img{
  width: 50%;
  margin: 0 auto;
}
.card p{
  color: #fff;
}
.card a{
  color: red;
  text-decoration: none;
}
#about-me{
  background: #29292b;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-wrap: nowrap ;
  border-top: 2px solid grey;
  border-bottom: 2px solid grey;
  text-align: center;
}
#about-me h1{
  color: #ff1f4f;
  border-bottom: 4px solid #ff1f4f;
  max-width: 140px;
  align: 0 auto;
  text-align: center;
}
#about-me p{
  color: #fff;
  margin-top: 100px;
}
#about-me div{
  margin: 10px;
  max-width: 50%;
  
}
#about-me  img{
  width: 200px;
  height: 200px;
  border-radius: 100px;
  -webkit-box-shadow: 1px 1px 14px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 1px 1px 14px 0px rgba(0,0,0,0.75);
  box-shadow: 1px 1px 14px 0px rgba(0,0,0,0.75); 
}
#about-me  img:hover{
  transform: scale(1.1);
}
hr{
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
  height: 2px;
  border: 0px;
}
#footer{
  background: #29292b;
  text-align: center;
  color: #fff;
  font-size: 25px;
}
#footer a{
  color: #36c3ff;
  text-decoration: none;
  font-size: 20px;
}
#ld-more{
  text-align: center;
}
#btn-more{
  border: 2px solid #fff;
  color: #fff;
  padding: 5px;
  text-decoration: none;
}
#btn-more:hover{
  background: #fff;
  color: #000;
}
#edu{
  text-align: center;
  padding: 10px;
}
#edu>span{
  display: inline-block;
  background: #fff;
  color: #ff1f44;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  width: 250px;
}
#line{
  height: 50px;
  border-left: 2px solid #fff;
  margin: 0 auto;
  width: 2px;
  margin-top: -100px;
}
@media only screen and (max-width: 560px) {
  #projects{
    flex-direction: column;
    padding: 10px;
    margin:  5px 23px 15px -5px;
  }
  #about-me{
    flex-direction: column;
    padding: 10px;
  }
  #about-me div{
    max-width: 100%;
  }
  #about-me p{
    margin-top: 0px;
  }
}
@media only screen and (max-width: 460px) {
  .card img{
    width: 200px;
  }
}
